*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}
nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
.assets{
    display: flex;
    align-items: center;
    /* background-color: blue; */
    gap: 4vw;
}
nav h2{
    font-size: 2vw;
    font-weight: 700;
}
nav h4{
    font-size: 1.8vw;
    font-weight: lighter;
}
nav i{
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}
nav button{
    font-size: 1.2vw;
    padding: 0.7vw 1.4vw;
    background-color: #EABA2C;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    position: relative;
}
.left{
    height: 100%;
    width: 55%;
    padding: 5vw 4vw;
}
.left h1{
    font-size: 4.2vw;
    line-height: 4.4vw;
}
.left h1 span{
    color: #C65043;
}
.left p{
    font-size: 1.5vw;
    font-weight: 600;
    color: #666;
    width: 85%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}
.content button{
    font-size: 1.5vw;
    padding: 1.1vw 2.3vw;
    background-color: #C65043;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
.right{
    height: 100%;
    width: 45%;
}
.right img{
    height: 100%;
    width: 100%;
}
@media (max-width:768px) {
    nav{
        padding: 0 4vw;
        height: 70px;
    }
    nav button{
        font-size: 2vw;
    }
    nav h2{
        font-size: 3.5vw;
    }
    nav h4{
        font-size: 2.5vw;
    }
    .content{
        height: calc(100% - 70px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 45%;
    }
    .left h1{
        font-weight: 800;
        font-size: 7.5vw;
        line-height: 7.2vw;
    }
    .left p{
        font-weight: 500;
        margin-top: 5vw;
        margin-bottom: 4vw;
        font-size: 3vw;
        line-height: 3.5vw;
        width: 80%;
    }
    .left button{
        padding: 2vw 3vw;
        border-radius: 10%;
        font-weight: 800;
        font-size: 2vw;
    }
    .right{
        width: 100%;
        height: 55%;
    }
}
@media (max-width:600px) {
    nav{
        padding: 0 6vw;
        height: 60px;
    }
    nav button{
        display: none;
    }
    nav h2{
        font-size: 5.1vw;
    }
    nav h4{
        font-size: 4vw;
        display: none;
    }
    nav i{
        display: block;
        font-size: 4.5vw;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
    }
    .right{
        width: 100%;
        height: 55%;
    }
    .left h1{
        font-size: 9vw;
        line-height: 10vw;
    }
    .left p{
        font-size: 4vw;
        width: 90%;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    .content button{
        padding: 3vw 6vw;
        border-radius: 3px;
        font-weight: 600;
        font-size: 3.5vw;
    }
}